/* table */
table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;

}

/* buttons */
.delete-btn {
  background-color: #a50f0f;
  color: #ffffff;
  padding: 8px 16px;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #7d0808;
}

.delete-btn:focus {
  outline: none;
}